src/main/mule/dbsync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dbsyncFlow" doc:id="7d001ef3-4080-4425-8aff-884f28902447">
		<http:listener doc:name="Listener" doc:id="0e8042ae-03f0-4c54-bb71-b6156635bbb3" config-ref="HTTP_Listener_config" path="/db"/>
		<db:select doc:name="Select" doc:id="06dce3c7-4159-4196-a57e-497312807aed" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM accounts]]></db:sql>
			<db:input-parameters ><![CDATA[#[{postal: '94105',lastAccountId : vars.lastAccountId}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="53fabe40-a8c1-47ea-b885-495b56e5be89" />
		<logger level="INFO" doc:name="Logger" doc:id="0424f160-675c-42a6-9d93-1e18289c4960" message="#[payload]"/>
	</flow>
</mule>
